<section class="section-about-two">
  <div class="container-fullwidth">
    <div class="row">
      <div
        class="column-1 col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 p-0"
      ></div>
      <div
        class="column-2 col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8"
      >
        <div class="about-three__content-box">
          <div class="section-title">
            <div class="section-title__tagline">
              <span class="left"></span>
              <h4 [innerHTML]="data.subtitle"></h4>
              <a
                href="javascript:void(0)"
                (click)="cta('#bot')"
                class="thm-btn btn-cta btn-cta-top"
                style="float: right"
                [innerHTML]="data.cta1"
              ></a>
            </div>
            <h2 class="section-title__title" [innerHTML]="data.title"></h2>
          </div>
          <p class="about-three__text" [innerHTML]="data.text1"></p>
          <ul class="about-three-list list-unstyled">
            <li>
              <div class="icon">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="text">
                <p [innerHTML]="data.item1"></p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="text">
                <p [innerHTML]="data.item2"></p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="text">
                <p [innerHTML]="data.item3"></p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="text">
                <p [innerHTML]="data.item4"></p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="text">
                <p [innerHTML]="data.item5"></p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="text">
                <p [innerHTML]="data.item6"></p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="text">
                <p [innerHTML]="data.item7"></p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="text">
                <p [innerHTML]="data.item8"></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
