.features-one__single-left-text h4 a {
    color: white;
}

.features-one__single-left-text h4 a:hover {
    color: #21A2FB;
}

.features-one__single-right-icon {
    cursor: pointer;
}

.features-one__single-right-btn a {
    background-color: #fff;
    color: #003F78;
}

.features-one__single-right-btn a:hover {
    background: #21A2FB;
    color: #ffffff;
    box-shadow: 0px 10px 30px 0px rgba(#21A2FB, 0.35);
    cursor: pointer;
}