:root {
  --default-white: rgba(255, 255, 255, 1);
  --brand-pink: rgba(242, 43, 178, 1);
  --brand-purple: rgba(140, 48, 245, 1);
  --brand-orange: rgba(254, 154, 34, 1);
  --brand-turquoise: rgba(46, 197, 206, 1);
  --default-black: rgba(11, 13, 23, 1);
  --text-gray-900: rgba(24, 25, 31, 1);
  --text-gray-300: rgba(217, 219, 225, 1);
  --label-medium-label-font-family: "Inter", Helvetica;
  --label-medium-label-font-weight: 500;
  --label-medium-label-font-size: 14px;
  --label-medium-label-letter-spacing: 0px;
  --label-medium-label-line-height: 20px;
  --label-medium-label-font-style: normal;
  --heading-h6-font-family: "Inter", Helvetica;
  --heading-h6-font-weight: 500;
  --heading-h6-font-size: 20px;
  --heading-h6-letter-spacing: 0px;
  --heading-h6-line-height: 30px;
  --heading-h6-font-style: normal;
  --body-body-2-font-family: "Inter", Helvetica;
  --body-body-2-font-weight: 400;
  --body-body-2-font-size: 14px;
  --body-body-2-letter-spacing: 0px;
  --body-body-2-line-height: 24px;
  --body-body-2-font-style: normal;
  --navbar-shadow: 0px 1px 0px 0px rgba(229, 233, 242, 1);
}



@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:var(--body-body-2-font-weight),var(--label-medium-label-font-weight),var(--heading-h6-font-weight),500,700,600");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}


.element-blog-MLF-ES {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
}

.element-blog-MLF-ES .div {
  background-color: #ffffff;
  width: 1440px;
  height: 3324px;
  position: relative;
}

.element-blog-MLF-ES .overlap {
  position: absolute;
  width: 1439px;
  height: 280px;
  top: 73px;
  left: 0;
  background-image: url(https://c.animaapp.com/mf607lezkh4mkj/img/z1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-blog-MLF-ES .rectangle {
  position: absolute;
  width: 1439px;
  height: 280px;
  top: 0;
  left: 0;
  background-color: #001f3bcc;
}

.element-blog-MLF-ES .text-wrapper {
  position: absolute;
  width: 793px;
  top: 102px;
  left: 324px;
  text-shadow: 2px 2px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: 70px;
  white-space: nowrap;
}

.element-blog-MLF-ES .overlap-group {
  position: absolute;
  width: 1440px;
  height: 72px;
  top: 0;
  left: 0;
}

.element-blog-MLF-ES .header {
  position: absolute;
  width: 1440px;
  height: 72px;
  top: 0;
  left: 0;
  background-color: var(--default-white);
  box-shadow: var(--navbar-shadow);
}

.element-blog-MLF-ES .overlap-2 {
  position: relative;
  width: 797px;
  height: 82px;
  left: 127px;
}

.element-blog-MLF-ES .left-nav {
  display: flex;
  width: 664px;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 22px;
  left: 133px;
}

.element-blog-MLF-ES .logotype-dark {
  position: relative;
  width: 105px;
  height: 28px;
  overflow: hidden;
  opacity: 0;
}

.element-blog-MLF-ES .overlap-group-2 {
  position: relative;
  width: 68px;
  height: 28px;
  top: 4504px;
  left: -5963px;
}

.element-blog-MLF-ES .logomark-color {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
}

.element-blog-MLF-ES .landify {
  position: absolute;
  width: 68px;
  height: 18px;
  top: 0;
  left: 0;
}

.element-blog-MLF-ES .nav-items {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.element-blog-MLF-ES .label-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.element-blog-MLF-ES .label {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--label-medium-label-font-family);
  font-weight: var(--label-medium-label-font-weight);
  color: var(--text-gray-900);
  font-size: var(--label-medium-label-font-size);
  letter-spacing: var(--label-medium-label-letter-spacing);
  line-height: var(--label-medium-label-line-height);
  white-space: nowrap;
  font-style: var(--label-medium-label-font-style);
}

.element-blog-MLF-ES .header-menu-dropdown {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.element-blog-MLF-ES .logo-ok {
  position: absolute;
  width: 247px;
  height: 82px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.element-blog-MLF-ES .vector {
  position: absolute;
  width: 14px;
  height: 8px;
  top: 32px;
  left: 735px;
}

.element-blog-MLF-ES .rectangle-2 {
  position: absolute;
  width: 133px;
  height: 28px;
  top: 22px;
  left: 1136px;
  background-color: #003f78;
  border-radius: 5px;
}

.element-blog-MLF-ES .header-menu-dropdown-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 26px;
  left: 1158px;
}

.element-blog-MLF-ES .label-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.element-blog-MLF-ES .overlap-3 {
  position: absolute;
  width: 703px;
  height: 1318px;
  top: 430px;
  left: 168px;
}

.element-blog-MLF-ES .p {
  position: absolute;
  width: 703px;
  top: 504px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #004482;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
}

.element-blog-MLF-ES .text-wrapper-2 {
  position: absolute;
  width: 700px;
  top: 642px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #485f68;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
}

.element-blog-MLF-ES .group {
  position: absolute;
  width: 179px;
  height: 40px;
  top: 754px;
  left: 0;
}

.element-blog-MLF-ES .overlap-group-wrapper {
  width: 181px;
  height: 40px;
}

.element-blog-MLF-ES .div-wrapper {
  position: relative;
  width: 179px;
  height: 40px;
  background-color: #c09c00;
  border-radius: 7px;
}

.element-blog-MLF-ES .text-wrapper-3 {
  position: absolute;
  width: 179px;
  top: 8px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.element-blog-MLF-ES .rectangle-wrapper {
  position: absolute;
  width: 700px;
  height: 466px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/mf607lezkh4mkj/img/rectangle.png);
  background-size: 100% 100%;
}

.element-blog-MLF-ES .img {
  position: absolute;
  width: 76px;
  height: 76px;
  top: 369px;
  left: 566px;
}

.element-blog-MLF-ES .group-2 {
  position: absolute;
  width: 700px;
  height: 948px;
  top: 370px;
  left: 0;
}

.element-blog-MLF-ES .img-wrapper {
  position: absolute;
  width: 700px;
  height: 466px;
  top: 482px;
  left: 0;
  border-radius: 15px;
  background-image: url(https://c.animaapp.com/mf607lezkh4mkj/img/untitled--8--1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-blog-MLF-ES .rectangle-3 {
  position: absolute;
  width: 76px;
  height: 76px;
  top: 0;
  left: 566px;
}

.element-blog-MLF-ES .text-wrapper-4 {
  position: absolute;
  width: 703px;
  top: 1786px;
  left: 168px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #004482;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
}

.element-blog-MLF-ES .text-wrapper-5 {
  position: absolute;
  width: 703px;
  top: 2612px;
  left: 168px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #004482;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
}

.element-blog-MLF-ES .text-wrapper-6 {
  position: absolute;
  width: 703px;
  top: 1926px;
  left: 168px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #485f68;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
}

.element-blog-MLF-ES .la-organizaci-n {
  position: absolute;
  width: 703px;
  top: 2704px;
  left: 168px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #485f68;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
}

.element-blog-MLF-ES .group-wrapper {
  position: absolute;
  width: 179px;
  height: 40px;
  top: 2010px;
  left: 168px;
}

.element-blog-MLF-ES .group-3 {
  position: absolute;
  width: 179px;
  height: 40px;
  top: 2788px;
  left: 168px;
}

.element-blog-MLF-ES .overlap-wrapper {
  position: absolute;
  width: 700px;
  height: 466px;
  top: 2108px;
  left: 168px;
}

.element-blog-MLF-ES .overlap-4 {
  position: relative;
  height: 466px;
  border-radius: 15px;
  background-image: url(https://c.animaapp.com/mf607lezkh4mkj/img/untitled--9--1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-blog-MLF-ES .footer-big {
  position: absolute;
  width: 1440px;
  height: 379px;
  top: 2945px;
  left: 0;
  background-color: #003f78;
  overflow: hidden;
}

.element-blog-MLF-ES .overlap-5 {
  position: relative;
  width: 1442px;
  height: 323px;
  top: 56px;
}

.element-blog-MLF-ES .col {
  display: inline-flex;
  left: 165px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 0;
}

.element-blog-MLF-ES .logo-foot {
  position: relative;
  width: 60px;
  height: 55px;
  object-fit: cover;
}

.element-blog-MLF-ES .text-wrapper-7 {
  position: relative;
  width: 255px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--text-gray-300);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

.element-blog-MLF-ES .social-links {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.element-blog-MLF-ES .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.element-blog-MLF-ES .overlap-6 {
  position: absolute;
  width: 1442px;
  height: 323px;
  top: 0;
  left: 0;
}

.element-blog-MLF-ES .col-2 {
  display: flex;
  width: 225px;
  left: 480px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 0;
}

.element-blog-MLF-ES .text-wrapper-8 {
  position: relative;
  width: 255px;
  margin-top: -1.00px;
  margin-right: -30.00px;
  font-family: var(--heading-h6-font-family);
  font-weight: var(--heading-h6-font-weight);
  color: var(--default-white);
  font-size: var(--heading-h6-font-size);
  letter-spacing: var(--heading-h6-letter-spacing);
  line-height: var(--heading-h6-line-height);
  font-style: var(--heading-h6-font-style);
}

.element-blog-MLF-ES .list-items {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.element-blog-MLF-ES .text-wrapper-9 {
  position: relative;
  width: 160px;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--text-gray-300);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

.element-blog-MLF-ES .text-wrapper-10 {
  position: relative;
  width: 160px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--text-gray-300);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

.element-blog-MLF-ES .careers {
  position: relative;
  width: 1px;
  height: 24px;
}

.element-blog-MLF-ES .sub-footer {
  position: absolute;
  width: 1442px;
  height: 64px;
  top: 259px;
  left: 0;
}

.element-blog-MLF-ES .text-wrapper-11 {
  position: absolute;
  top: 0;
  left: 166px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--text-gray-300);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-blog-MLF-ES .links {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 776px;
}

.element-blog-MLF-ES .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--text-gray-300);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-blog-MLF-ES .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-body-2-font-family);
  font-weight: var(--body-body-2-font-weight);
  color: var(--text-gray-300);
  font-size: var(--body-body-2-font-size);
  letter-spacing: var(--body-body-2-letter-spacing);
  line-height: var(--body-body-2-line-height);
  white-space: nowrap;
  font-style: var(--body-body-2-font-style);
}

.element-blog-MLF-ES .col-3 {
  display: inline-flex;
  padding: 0px 0px 0px 10px;
  left: 735px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 0;
}

.element-blog-MLF-ES .text-wrapper-14 {
  position: relative;
  width: 255px;
  margin-top: -1.00px;
  font-family: var(--heading-h6-font-family);
  font-weight: var(--heading-h6-font-weight);
  color: var(--default-white);
  font-size: var(--heading-h6-font-size);
  letter-spacing: var(--heading-h6-letter-spacing);
  line-height: var(--heading-h6-line-height);
  font-style: var(--heading-h6-font-style);
}

.element-blog-MLF-ES .no-te-pierdas-lo-que {
  position: relative;
  width: 255px;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--text-gray-300);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

.element-blog-MLF-ES .col-4 {
  display: inline-flex;
  left: 1020px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 0;
}

.element-blog-MLF-ES .text-wrapper-15 {
  position: relative;
  width: 255px;
  margin-top: -1.00px;
  font-family: var(--heading-h6-font-family);
  font-weight: var(--heading-h6-font-weight);
  color: #ffffff;
  font-size: var(--heading-h6-font-size);
  letter-spacing: var(--heading-h6-letter-spacing);
  line-height: var(--heading-h6-line-height);
  font-style: var(--heading-h6-font-style);
}

.element-blog-MLF-ES .list-items-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.element-blog-MLF-ES .div-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.element-blog-MLF-ES .text-wrapper-16 {
  position: relative;
  width: 223px;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d9dbe1;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

.element-blog-MLF-ES .location-icon {
  position: relative;
  width: 24px;
  height: 25.01px;
}

.element-blog-MLF-ES .overlap-7 {
  position: absolute;
  width: 238px;
  height: 42px;
  top: 133px;
  left: 744px;
  background-color: #d9d9d9;
  border-radius: 7px;
}

.element-blog-MLF-ES .text-wrapper-17 {
  position: absolute;
  top: 8px;
  left: 27px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #485f68;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-blog-MLF-ES .overlap-8 {
  position: absolute;
  width: 141px;
  height: 42px;
  top: 189px;
  left: 745px;
  background-color: #c09c00;
  border-radius: 7px;
}

.element-blog-MLF-ES .text-wrapper-18 {
  position: absolute;
  top: 8px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-blog-MLF-ES .group-4 {
  position: absolute;
  width: 12px;
  height: 11px;
  top: 16px;
  left: 104px;
}

.element-blog-MLF-ES .group-5 {
  position: absolute;
  width: 200px;
  height: 40px;
  top: 2860px;
  left: 622px;
}

.element-blog-MLF-ES .overlap-9 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 52px;
  background-color: #003f78;
  border-radius: 5px;
}

.element-blog-MLF-ES .text-wrapper-19 {
  position: absolute;
  width: 10px;
  top: 6px;
  left: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.element-blog-MLF-ES .vector-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #00000026;
}

.element-blog-MLF-ES .vector-2 {
  position: absolute;
  width: 8px;
  height: 14px;
  top: 13px;
  left: 16px;
}

.element-blog-MLF-ES .overlap-10 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 104px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #00000026;
}

.element-blog-MLF-ES .text-wrapper-20 {
  position: absolute;
  width: 10px;
  top: 6px;
  left: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #003f78;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.element-blog-MLF-ES .overlap-11 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 156px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #00000026;
}

.element-blog-MLF-ES .group-6 {
  position: absolute;
  width: 419px;
  height: 1630px;
  top: 430px;
  left: 907px;
}

.element-blog-MLF-ES .overlap-12 {
  position: absolute;
  width: 365px;
  height: 563px;
  top: 96px;
  left: 0;
  border-radius: 7px;
  box-shadow: 1px 1px 25px #00000014;
}

.element-blog-MLF-ES .text-wrapper-21 {
  position: absolute;
  width: 265px;
  top: 29px;
  left: 49px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #2b3b40;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.element-blog-MLF-ES .overlap-13 {
  position: absolute;
  width: 265px;
  height: 43px;
  top: 94px;
  left: 49px;
}

.element-blog-MLF-ES .text-wrapper-22 {
  position: absolute;
  width: 265px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #485f68;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.element-blog-MLF-ES .vector-3 {
  position: absolute;
  width: 8px;
  height: 14px;
  top: 17px;
  left: 257px;
}

.element-blog-MLF-ES .overlap-14 {
  position: absolute;
  width: 265px;
  height: 43px;
  top: 139px;
  left: 49px;
}

.element-blog-MLF-ES .overlap-15 {
  position: absolute;
  width: 265px;
  height: 43px;
  top: 184px;
  left: 49px;
}

.element-blog-MLF-ES .overlap-16 {
  position: absolute;
  width: 265px;
  height: 43px;
  top: 229px;
  left: 49px;
}

.element-blog-MLF-ES .overlap-group-3 {
  position: absolute;
  width: 265px;
  height: 43px;
  top: 274px;
  left: 49px;
}

.element-blog-MLF-ES .overlap-17 {
  position: absolute;
  width: 265px;
  height: 43px;
  top: 319px;
  left: 49px;
}

.element-blog-MLF-ES .line {
  top: 85px;
  position: absolute;
  width: 270px;
  height: 1px;
  left: 49px;
  object-fit: cover;
}

.element-blog-MLF-ES .text-wrapper-23 {
  position: absolute;
  width: 265px;
  top: 387px;
  left: 49px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #2b3b40;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.element-blog-MLF-ES .text-wrapper-24 {
  top: 485px;
  left: 137px;
  position: absolute;
  width: 182px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #2b3b40;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.element-blog-MLF-ES .text-wrapper-25 {
  position: absolute;
  width: 182px;
  top: 523px;
  left: 137px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #53676e;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.element-blog-MLF-ES .line-2 {
  top: 443px;
  position: absolute;
  width: 270px;
  height: 1px;
  left: 49px;
  object-fit: cover;
}

.element-blog-MLF-ES .rectangle-4 {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 481px;
  left: 49px;
  background-color: #d9d9d9;
  border-radius: 7px;
}

.element-blog-MLF-ES .text-wrapper-26 {
  position: absolute;
  width: 265px;
  top: 1361px;
  left: 49px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #2b3b40;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.element-blog-MLF-ES .text-wrapper-27 {
  top: 734px;
  left: 137px;
  position: absolute;
  width: 182px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #53676e;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.element-blog-MLF-ES .text-wrapper-28 {
  top: 849px;
  left: 138px;
  position: absolute;
  width: 182px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #53676e;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.element-blog-MLF-ES .text-wrapper-29 {
  top: 696px;
  left: 138px;
  position: absolute;
  width: 182px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #2b3b40;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.element-blog-MLF-ES .text-wrapper-30 {
  top: 811px;
  left: 139px;
  position: absolute;
  width: 182px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #2b3b40;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.element-blog-MLF-ES .line-3 {
  top: 1417px;
  position: absolute;
  width: 270px;
  height: 1px;
  left: 49px;
  object-fit: cover;
}

.element-blog-MLF-ES .overlap-18 {
  position: absolute;
  width: 286px;
  height: 64px;
  top: 0;
  left: 45px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.element-blog-MLF-ES .text-wrapper-31 {
  position: absolute;
  width: 77px;
  top: 18px;
  left: 18px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #485f68;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.element-blog-MLF-ES .overlap-19 {
  position: absolute;
  width: 41px;
  height: 41px;
  top: 12px;
  left: 231px;
  background-color: #004482;
  border-radius: 5px;
}

.element-blog-MLF-ES .group-7 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 11px;
}

.element-blog-MLF-ES .overlap-20 {
  position: absolute;
  width: 282px;
  height: 351px;
  top: 967px;
  left: 49px;
  background-color: #003f78;
  border-radius: 5px;
}

.element-blog-MLF-ES .overlap-21 {
  position: absolute;
  width: 128px;
  height: 33px;
  top: 175px;
  left: 40px;
  background-color: #c09c00;
  border-radius: 7px;
}

.element-blog-MLF-ES .text-wrapper-32 {
  position: absolute;
  width: 113px;
  top: 2px;
  left: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.element-blog-MLF-ES .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  position: absolute;
  width: 202px;
  height: 73px;
  top: 50px;
  left: 40px;
}

.element-blog-MLF-ES .text {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 15px;
}

.element-blog-MLF-ES .span {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 15px;
}

.element-blog-MLF-ES .rectangle-5 {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 691px;
  left: 49px;
  background-color: #d9d9d9;
  border-radius: 7px;
}

.element-blog-MLF-ES .overlap-22 {
  position: absolute;
  width: 112px;
  height: 33px;
  top: 1453px;
  left: 49px;
  background-color: #d9d9d94c;
  border-radius: 7px;
}

.element-blog-MLF-ES .text-wrapper-33 {
  position: absolute;
  top: 9px;
  left: 35px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #53676e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.element-blog-MLF-ES .overlap-23 {
  position: absolute;
  width: 112px;
  height: 33px;
  top: 1549px;
  left: 49px;
  background-color: #d9d9d94c;
  border-radius: 7px;
}

.element-blog-MLF-ES .overlap-24 {
  position: absolute;
  width: 144px;
  height: 33px;
  top: 1453px;
  left: 175px;
  background-color: #d9d9d94c;
  border-radius: 7px;
}

.element-blog-MLF-ES .text-wrapper-34 {
  left: 51px;
  position: absolute;
  top: 9px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #53676e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.element-blog-MLF-ES .overlap-25 {
  position: absolute;
  width: 144px;
  height: 33px;
  top: 1549px;
  left: 175px;
  background-color: #d9d9d94c;
  border-radius: 7px;
}

.element-blog-MLF-ES .overlap-26 {
  position: absolute;
  width: 144px;
  height: 33px;
  top: 1501px;
  left: 49px;
  background-color: #d9d9d94c;
  border-radius: 7px;
}

.element-blog-MLF-ES .text-wrapper-35 {
  left: 50px;
  position: absolute;
  top: 9px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #53676e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.element-blog-MLF-ES .overlap-27 {
  position: absolute;
  width: 88px;
  height: 33px;
  top: 1597px;
  left: 49px;
  background-color: #d9d9d94c;
  border-radius: 7px;
}

.element-blog-MLF-ES .text-wrapper-36 {
  left: 23px;
  position: absolute;
  top: 9px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #53676e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.element-blog-MLF-ES .overlap-28 {
  position: absolute;
  width: 112px;
  height: 33px;
  top: 1501px;
  left: 207px;
  background-color: #d9d9d94c;
  border-radius: 7px;
}

.element-blog-MLF-ES .text-wrapper-37 {
  left: 34px;
  position: absolute;
  top: 9px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #53676e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.element-blog-MLF-ES .overlap-29 {
  position: absolute;
  width: 78px;
  height: 33px;
  top: 1597px;
  left: 241px;
  background-color: #d9d9d94c;
  border-radius: 7px;
}

.element-blog-MLF-ES .text-wrapper-38 {
  left: 17px;
  position: absolute;
  top: 9px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #53676e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.element-blog-MLF-ES .overlap-30 {
  position: absolute;
  width: 73px;
  height: 33px;
  top: 1597px;
  left: 153px;
  background-color: #d9d9d94c;
  border-radius: 7px;
}

.element-blog-MLF-ES .text-wrapper-39 {
  left: 15px;
  position: absolute;
  top: 9px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #53676e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.element-blog-MLF-ES .rectangle-6 {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 805px;
  left: 49px;
  background-color: #d9d9d9;
  border-radius: 7px;
}
