<app-banner-with-title-partial
  [title]="banner.title"
  [image]="banner.image"
></app-banner-with-title-partial>

<!-- <app-blog-standard-one-partial></app-blog-standard-one-partial> -->

<div class="overlap-3">
  <p class="p">
    ¿Por qué cerca del 90 % de nuestros clientes obtienen éxito en la solicitud de su licencia médica?
  </p>
  <p class="text-wrapper-2">
    En Medical License Factory tenemos un secreto que nos ha permitido que cerca del 90 % de nuestros clientes
    obtenga un resultado exitoso en el proceso de solicitud de su licencia médica para ejercer en los Estados
    Unidos.
  </p>
  <div class="group">
    <div class="overlap-group-wrapper">
      <div class="div-wrapper"><div class="text-wrapper-3">Saber más</div></div>
    </div>
  </div>
  <div class="rectangle-wrapper">
    <img class="img" src="https://c.animaapp.com/mf607lezkh4mkj/img/rectangle-1.png" alt="" />
  </div>
  <div class="group-2">
    <div class="img-wrapper">
      <img class="img" src="https://c.animaapp.com/mf607lezkh4mkj/img/rectangle-2.png" alt="" />
    </div>
    <img class="rectangle-3" src="https://c.animaapp.com/mf607lezkh4mkj/img/rectangle-3.png" alt="" />
  </div>
</div>
<p class="text-wrapper-4">
  ¿Sabes qué licencia te corresponde? Conoce los tipos de licencia médica que puedes obtener en estados unidos
</p>
<p class="text-wrapper-5">La OMS identifica los 10 desafíos en la sanidad mundial para 2021</p>
<p class="text-wrapper-6">
  En el camino de obtener tu licencia médica para ejercer en los Estados Unidos, es importante que sepas cuáles
  son los tipos de licencia a las que puedes optar.
</p>
<p class="la-organizaci-n">
  La organización insta a los países de todo el mundo a &#34;actuar con rapidez&#34; para reparar sus sistemas
  de salud.
</p>
<div class="group-wrapper">
  <div class="overlap-group-wrapper">
    <div class="div-wrapper">              
      <div class="text-wrapper-3">Saber más</div>
    </div>
  </div>
</div>
<div class="group-3">
  <div class="overlap-group-wrapper">
    <div class="div-wrapper">
      <div class="text-wrapper-3">Saber más</div>
    </div>
  </div>
</div>