.section-title__tagline {
    margin-left: 10px;
}

h2.section-title__title {
    margin-left: 10px;
}

.why-choose-one__list p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #53676F;
    text-align: justify;
    margin: 10px;
}

.why-choose-one__img img {
    max-height: 380px;
}