.banner-one__content .section-title h2 {
    font-size: 50px;
}

.video-box-title {
    position: absolute;
    top: 35px;
    left: 100px;
    width: 100px;
}

.btn-schedule {
    width: 300px;
    // padding: 0 !important;
}

.about-one__video-gallery .video-box a {
    background: #004482;
    color: #ffffff;
}

.about-one__video-gallery img {
    display: none;
}

.about-one__video-gallery::before {
    width: 100px;
    height: 100px;
    background: transparent;
}

.about-one__video-gallery .video-box a::before,
.about-one__video-gallery .video-box a::after {
    box-shadow: 0 0 0 0 #21A2FB;
}

.about-one__video-gallery .video-box a:hover {
    background-color: #21A2FB;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .video-box-title {
        position: absolute;
        top: 90px;
        left: 0;
        width: 100px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}