.team-one__single-title-overly .icon a {
    color: #ffffff;
    background: #C09C00;
    box-shadow: 0px 10px 30px 0px transparent;
}

.team-one__single-img::before {
    background-color: #004482;
}

.team-one__single-title h4 a:hover {
    color: #004482;
}

.team-one__single-title-overly h4 a:hover {
    color: #004482;
}