<app-banner-with-title-partial
  [title]="banner.title"
  [image]="banner.image"
></app-banner-with-title-partial>

<app-cta-cards-partial
  [cards]="cards"
  [data]="cards_data"
></app-cta-cards-partial>

<app-image-with-text-partial
  [data_en]="image_with_text_data_en"
  [data_es]="image_with_text_data_es"
></app-image-with-text-partial>

<app-image-with-text-partial
  [data_en]="image_with_text_data2_en"
  [data_es]="image_with_text_data2_es"
></app-image-with-text-partial>

<app-team-partial
  [data_en]="team_data_en"
  [data_es]="team_data_es"
></app-team-partial>

<app-partners-partial></app-partners-partial>
