<!-- <app-banner-with-title-partial
  [title]="banner.title"
  [image]="banner.image"
  [subtitle]="banner.subtitle"
></app-banner-with-title-partial> -->

<section class="main-slider main-slider-one">
  <swiper class="thm-swiper__slider">
    <div class="swiper-wrapper">
      <!--Start Single Swiper Slide-->
      <div class="swiper-slide">
        <div
          class="image-layer"
          [style.background-image]="'url(assets/mlf/img/banners/services.jpg)'"
        ></div>
        <div class="image-layer-overlay"></div>
        <!-- /.image-layer -->
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="main-slider__content text-center">
                <div class="section-title">
                  <h2 class="section-title__title">Medical License Factory: Encuentra el talento médico que transforma tu clínica</h2>
                  <h5 class="section-title__subtitle" >Asegura el éxito de tu equipo de salud con nuestro reclutamiento especializado</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Single Swiper Slide-->
    </div>
  </swiper>
</section>

<!-- <section class="mlf-section">
  <div class="intro">
    <p>
      Descubre cómo Medical License Factory te ayuda a encontrar y contratar al personal
      médico perfecto para tu institución, manejando trámites, coordinando entrevistas y
      asegurando una integración exitosa. Con nuestra red extensa y soporte continuo,
      transformamos tu proceso de selección. Solicita tu consulta gratuita ahora.
    </p>
    <h3>
      Imagina tener el personal médico ideal en tu equipo, aquellos que no solo tienen las
      habilidades técnicas, sino también encajan perfectamente con tu cultura organizacional
      y valores.
    </h3>
    <p>
      La diferencia entre un equipo competente y uno excepcional radica en la armonía de
      sus valores. En Medical License Factory hacemos posible esa sintonía.
    </p>
  </div>

  <div class="services">
    <h2>Nuestros Servicios para Ti</h2>
    <ul>
      <li>
        <strong>Búsqueda de Talento:</strong> Detallada búsqueda para candidatos
        calificados con licencias médicas generales hasta especializadas.
      </li>
      <li>
        <strong>Gestión de Licencias:</strong> Manejamos todos los trámites regulatorios
        para que tus nuevos empleados estén listos para comenzar.
      </li>
      <li>
        <strong>Coordinación de Entrevistas:</strong> Organizamos y preparamos las entrevistas
        de manera eficiente.
      </li>
      <li>
        <strong>Verificación de Credenciales:</strong> Chequeos exhaustivos de licencias y
        credenciales para garantizar autenticidad.
      </li>
      <li>
        <strong>Integración:</strong> Formación y capacitación para ayudar a los nuevos
        profesionales a integrarse sin contratiempos.
      </li>
    </ul>
  </div>

  <div class="why">
    <h2>Por qué Elegirnos</h2>
    <ul>
      <li>Red extensa de profesionales que garantizan experiencia clínica diversa.</li>
      <li>Proceso de selección riguroso para asegurar la idoneidad del talento.</li>
      <li>Soporte continuo durante todo el proceso de contratación y más allá.</li>
    </ul>
  </div>

  <div class="eligibility">
    <h2>Resumen de Elegibilidad</h2>
    <p>
      Dirigido a equipos de salud en EE.UU. que buscan personal médico activo con licencia.
      Sin restricciones geográficas ni periodos de inactividad impeditivos.
    </p>
  </div>

  <div class="cta">
    <h2>No Esperes Más, Actúa Ahora</h2>
    <p>
      Solicita tu consulta gratuita y da el primer paso para optimizar tu proceso de
      contratación médica.
    </p>
    <a href="#" class="cta-button">Agenda llamada</a>
  </div>
</section> -->

<section class="mlf-section">
  <div class="intro">
    <p>
      Descubre cómo Medical License Factory te ayuda a encontrar y contratar al personal médico perfecto para tu institución, manejando trámites, coordinando entrevistas y asegurando una integración exitosa. Con nuestra red extensa y soporte continuo, transformamos tu proceso de reclutamiento. Solicita tu consulta gratuita ahora.
    </p>
    <h3>
      Imagina tener el personal médico ideal en tu equipo, aquellos que no solo tienen las habilidades técnicas, sino también encajan perfectamente con tu cultura organizacional y valores.
    </h3>
    <p>
      En un sector donde la calidad del personal impacta directamente en la calidad del cuidado, encontrar y retener a los profesionales médicos adecuados es crucial. Sin embargo, el proceso de reclutamiento puede ser largo, costoso y frustrante. En Medical License Factory, entendemos estos desafíos y estamos aquí para ofrecerte una solución especializada que transforme tu proceso de reclutamiento.
    </p>
  </div>

  <div class="services">
    <h2>Nuestros Servicios para Ti</h2>
    <ul>
      <li>
        <strong>Búsqueda de talentos:</strong> Accede a una base de datos extensa de profesionales médicos, desde generales hasta especialistas, asegurando que encuentres los candidatos que mejor se adaptan a tus necesidades.
      </li>
      <li>
        <strong>Gestión de licencias y acreditaciones:</strong> Manejamos todos los trámites regulatorios necesarios para asegurar que tus nuevos empleados estén debidamente licenciados y acreditados.
      </li>
      <li>
        <strong>Coordinación de entrevistas:</strong> Organizamos y coordinamos las entrevistas de manera eficiente, preparando a los candidatos y proporcionando retroalimentación valiosa.
      </li>
      <li>
        <strong>Verificación de antecedentes:</strong> Realizamos chequeos exhaustivos de las credenciales y experiencia de los candidatos para garantizar que sean confiables y calificados.
      </li>
      <li>
        <strong>Integración:</strong> Te ofrecemos orientación y capacitación para ayudar a los nuevos profesionales a integrarse sin problemas en tu equipo.
      </li>
    </ul>
  </div>

  <div class="why">
    <h2>Por qué Elegirnos</h2>
    <ul>
      <li> <strong>Red extensa:</strong> Conexiones con profesionales y centros de salud en constante crecimiento, proporcionando una variedad incomparable de candidatos.</li>
      <li> <strong>Enfoque personalizado:</strong> Cada búsqueda se adapta específicamente a tus necesidades únicas.</li>
      <li> <strong>Soporte continuo:</strong> Asistencia durante todo el proceso de contratación para asegurar tu satisfacción.</li>
    </ul>
  </div>

  <div class="eligibility">
    <h2>Resumen de Elegibilidad</h2>
    <p>
      Para ser elegible, el solicitante debe tener una licencia activa y sin restricciones en otro estado o territorio de EE. UU. Además, no debe tener ninguna investigación pendiente ni haber sido disciplinado o haber tenido su licencia revocada en los últimos cinco años. También es necesario designar un agente registrado en Florida para recibir notificaciones legales, mantener un seguro de responsabilidad profesional adecuado y cumplir con los requisitos de cobertura para los servicios de telemedicina que se brindan en el estado.
    </p>
  </div>

  <div class="cta">
    <h2>No Esperes Más, Actúa Ahora</h2>
    <p>
      Solicita tu consulta gratuita ahora y veamos cómo podemos ayudarte a encontrar el talento que necesitas para tu equipo de salud.
    </p>
    <a href="#" class="cta-button">Agenda llamada</a>
  </div>
</section>