.blog-details__author-img img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.comment-box .single-comment-box .img-holder img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.thm-btn {
    width: 200px;
    background-color: #C09C00;
    border-radius: 5px;
    text-align: center;
}