<app-banner-with-title-partial
  [title]="banner.title"
  [image]="banner.image"
  [subtitle]="banner.subtitle"
></app-banner-with-title-partial>

<!-- <app-portfolio-partial></app-portfolio-partial> -->

<section class="case-studies-two">
  <div class="container">

    <div class="row">
      <div class="col-xl-12">
        <div class="case-studies-two__wrapper">
          <div class="row">
            <!--Start Single Case Studies Two-->
            <div
              class="col-xl-6 col-lg-6 col-md-12 col-sm-12"
              *ngFor="let item of services">
              <div class="case-studies-two__single">
                <div
                  class="case-studies-two__single-text-box"
                  [style.background]="item.backgroud_color"
                  style="min-height: 300px">
                  <div
                    class="case-studies-two__single-left"
                    [style.color]="item.color"
                  >
                    <h2 [style.color]="item.color">{{ item.title }}</h2>
                    <hr />
                    <p style="margin-bottom: 15px">{{ item.shorttext }}</p>
                    <a href="javascript:void(0)" [routerLink]="item.route">
                      {{ item.cta1 }}
                      <i class="fa fa-arrow-right"></i>
                    </a>
                  </div>
                  <div class="case-studies-two__single-right"></div>
                </div>
                <!-- <div class="case-studies-two__single-img">
                  <img [src]="item['image']" [alt]="item['title']" />
                  <img [src]="item['icon']" [alt]="item['title']" class="icon" />
                </div> -->
              </div>
            </div>
            <!--End Single Case Studies Two-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<app-partners-partial></app-partners-partial>