.footer-widget__company-list li a {
    color: #fff !important;
}

.features-one__single {
    background: #fff;
    color: #35454B;
}

.features-one__single-left-text h4 a {
    color: #35454B;
}

.features-one__single-left-text h4 a:hover {
    color: #004482;
}

.features-one__single-right-icon {
    cursor: pointer;
}

.features-one__single-right-btn a {
    background-color: #C09C00;
    color: #fff;
}

.features-one__single-right-btn a:hover {
    background: #004482;
    color: #ffffff;
    box-shadow: 0px 10px 30px 0px rgba(#004482, 0.35);
    cursor: pointer;
}