.blog-standard-one__single-img::before {
    background: #004482;
}

.blog-standard-one__single-title a {
    color: #004482;
    font-weight: bold;
}

.blog-standard-one__single-title a:hover {
    color: #004482;
}

.blog-standard-one__single-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #496068;
}

.blog-standard-one__single-btn .thm-btn {
    background: #C09C00;
    color: #fff;
    border-radius: 7px;
    width: 200px;
    text-align: center;
}

.blog-standard-one__single-btn .thm-btn::after {
    background: #004482;
}

